In [1]:
import pandas as pd
from smartsheet_dataframe import get_as_df

In [2]:
# Storing Smartsheet information in variables
shitz_token = "wMvGniITjDFd7ClZPE44wtJGvZkM7Hg7mP7if" #Bily's personal token to access G-A smartsheet data. Anyone can obtain their own token
fhaid = 4523924143794052 # The ID number that references the FHA sheet
mssid = 3005704744265604 # The ID number that references the MSS sheet

In [3]:
# Creating the FHA and MSS dataframes
fha_df = get_as_df(type_='sheet',
                  token=shitz_token,
                  id_=fhaid)

mss_df = get_as_df(type_='sheet',
                  token=shitz_token,
                  id_=mssid)

In [4]:
war_df = mss_df.loc[mss_df['UniqueID'].str.contains("WAR")].copy()

In [5]:
war_df

,row_id,parent_id,IntakeID,FolderID,UniqueID,TicketID,Tract,CMP,Stand,Acres,...,Activity Implemented,Applied GA_ACRES,PstBA,PstTPA,PstGTA,RP Completed,Notes,Completed Date,Modified,Modified By
9,3397500974108548,,WAR241003,WAR241003,WAR241003TH01,WAR241003TH01,Racepond,4,12,29.92,...,,,,,,,,,2024-10-04T17:53:34Z,
10,8293160322043780,,WAR240924,WAR240924,WAR240924TH03,WAR240924TH03,13054,NP,23,31.29,...,,,,,,,,,2024-10-03T12:14:13Z,
11,4152124653932420,,WAR240924,WAR240924,WAR240924TH02,WAR240924TH02,13053,NP,44,146.55,...,,,,,,,,,2024-10-03T12:14:13Z,
12,8095894621622148,,WAR240924,WAR240924,WAR240924TH01,WAR240924TH01,13053,NP,23,110.81,...,,,,,,,,,2024-10-03T12:14:13Z,
13,4770703023771524,,WAR240924,WAR240924,WAR240924BI02,WAR240924BI02,13054,NP,23,11.07,...,,,,,,,,,2024-10-03T12:14:13Z,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,685639696508804,4415183137924996,WAR180518,WAR180518,WAR180518TH01,WAR180518TH01,4255.0,Elbert 11,1.0,150.92,...,1st Thin,,140.0,260.0,,,,,2024-01-04T21:31:30Z,mhamilton@green-assets.com
562,3289283231082372,,WAR180206,WAR180206,WAR180206TH04,WAR180206TH04,13193.0,NP,23.0,327.33,...,,,,,,,is a duplicate of WAR190311,,2024-01-04T21:31:30Z,mhamilton@green-assets.com
563,7792882858452868,3289283231082372,WAR180206,WAR180206,WAR180206TH03,WAR180206TH03,13150.0,NP,13.0,148.54,...,,,,,,,is a duplicate of WAR190311,,2024-01-04T21:31:30Z,mhamilton@green-assets.com
564,2163383324239748,3289283231082372,WAR180206,WAR180206,WAR180206TH02,WAR180206TH02,93A,NP,1.0,121.7,...,1st Thin,,,,,,Pulled off due to tropical depression. Too wet.,,2024-10-15T20:22:36Z,mhamilton@green-assets.com
565,6666982951610244,3289283231082372,WAR180206,WAR180206,WAR180206TH01,WAR180206TH01,54A,NP,1.0,128.7,...,1st Thin,,82.0,,,,Portion of this stand previously harvested in ...,2023-03-01,2024-01-04T21:31:30Z,automation@smartsheet.com

In [6]:
war_df.columns

Index(['row_id', 'parent_id', 'IntakeID', 'FolderID', 'UniqueID', 'TicketID',
       'Tract', 'CMP', 'Stand', 'Acres', 'Age', 'GA_ACRES', 'County', 'State',
       'Plot Numbers', 'Status', 'Guidance', 'Expiration', 'GuidanceProvider',
       'Scheduled', 'Stand Type', 'Origin', 'PreBA', 'PreTPA', 'PreGTA',
       'PlnBA', 'PlnTPA', 'PlnGTA', 'Client GT', 'GA GT',
       'Current RP Expected GT', 'Future GT', 'Total GT', 'Timeframe',
       'Reporting Period', 'Activity Implemented', 'Applied GA_ACRES', 'PstBA',
       'PstTPA', 'PstGTA', 'RP Completed', 'Notes', 'Completed Date',
       'Modified', 'Modified By'],
      dtype='object')

In [7]:
client_df = war_df[['UniqueID',
                    'Tract',
                    'CMP',
                    'Stand',
                    'Acres',
                    'Age',
                    'County',
                    'State',
                    'Stand Type',
                    'Origin',
                    'Scheduled',
                    'PreBA',
                    'PreTPA',
                    'PreGTA',
                    'PlnBA',
                    'PlnTPA',
                    'PlnGTA',
                    'Client GT',
                    'Future GT',
                    'Reporting Period']].copy()
client_df

,UniqueID,Tract,CMP,Stand,Acres,Age,County,State,Stand Type,Origin,Scheduled,PreBA,PreTPA,PreGTA,PlnBA,PlnTPA,PlnGTA,Client GT,Future GT,Reporting Period
9,WAR241003TH01,Racepond,4,12,29.92,22.0,CHARLTON,GA,Slash Pine,Planted,,160.0,550.0,80.0,70.0,300.0,45.0,1047.2,0.0,9.0
10,WAR240924TH03,13054,NP,23,31.29,44.0,Heard,GA,Loblolly Pine,Planted,,100.0,165.0,110.0,60.0,75.0,85.0,782.0,0.0,9.0
11,WAR240924TH02,13053,NP,44,146.55,33.0,Heard,GA,Loblolly Pine,Planted,,120.0,330.0,115.0,70.0,185.0,85.0,4397.0,0.0,9.0
12,WAR240924TH01,13053,NP,23,110.81,24.0,Heard,GA,Loblolly Pine,Planted,,110.0,350.0,105.0,70.0,200.0,70.0,3878.0,0.0,9.0
13,WAR240924BI02,13054,NP,23,11.07,44.0,Heard,GA,Loblolly Pine,Planted,,100.0,165.0,110.0,0.0,0.0,0.0,1218.0,0.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,WAR180518TH01,4255.0,Elbert 11,1.0,150.92,NP,Crawford,GA,Loblolly Pine,Planted,2018.0,160.0,388.0,,Not Stated,200.0,,,,RP3
562,WAR180206TH04,13193.0,NP,23.0,327.33,16.0,Troup,GA,Loblolly Pine,Planted,2018.0,168.0,106.0,,85.0,55.0,,,,
563,WAR180206TH03,13150.0,NP,13.0,148.54,16.0,Heard,GA,Loblolly Pine,Planted,2018.0,168.0,106.0,,85.0,55.0,,,,
564,WAR180206TH02,93A,NP,1.0,121.7,16.0,Troup,GA,Loblolly Pine,Planted,2018.0,168.0,106.0,,85.0,55.0,,,,2.0
565,WAR180206TH01,54A,NP,1.0,128.7,15.0,Meriwether,GA,Loblolly Pine,Planted,2018.0,174.0,109.0,,85.0,59.0,,,,RP3

client_df is the data as given by the client during Harvest Activity Intake

I think the UniqueID will end up being a short value which will be a foreign key to a different table linking UniqueIDs to multiple tables. Unsure if I need that structure yet though because it will be unique on this table.

In [8]:
war_df.columns

Index(['row_id', 'parent_id', 'IntakeID', 'FolderID', 'UniqueID', 'TicketID',
       'Tract', 'CMP', 'Stand', 'Acres', 'Age', 'GA_ACRES', 'County', 'State',
       'Plot Numbers', 'Status', 'Guidance', 'Expiration', 'GuidanceProvider',
       'Scheduled', 'Stand Type', 'Origin', 'PreBA', 'PreTPA', 'PreGTA',
       'PlnBA', 'PlnTPA', 'PlnGTA', 'Client GT', 'GA GT',
       'Current RP Expected GT', 'Future GT', 'Total GT', 'Timeframe',
       'Reporting Period', 'Activity Implemented', 'Applied GA_ACRES', 'PstBA',
       'PstTPA', 'PstGTA', 'RP Completed', 'Notes', 'Completed Date',
       'Modified', 'Modified By'],
      dtype='object')

In [9]:
ga_intake_df = war_df[['IntakeID',
                       'FolderID',
                       'UniqueID',
                       'GA_ACRES',
                       'Guidance',
                       'Expiration',
                       'GuidanceProvider',
                       'GA GT', # this is going to be GA total isn't it?
                       'Total GT', # Does this need included? At the moment we do funny stuff with total gt and subtracting future gt
                       'Notes'
                       ]].copy()
ga_intake_df

,IntakeID,FolderID,UniqueID,GA_ACRES,Guidance,Expiration,GuidanceProvider,GA GT,Total GT,Notes
9,WAR241003,WAR241003,WAR241003TH01,30.06,,,GA,1052.07,1052.07,
10,WAR240924,WAR240924,WAR240924TH03,31.29,2024-10-02,,GA,782.16,782.25,
11,WAR240924,WAR240924,WAR240924TH02,148.67,2024-10-02,,GA,4460.18,4460.18,
12,WAR240924,WAR240924,WAR240924TH01,110.8,2024-10-02,,GA,3877.92,3878.35,
13,WAR240924,WAR240924,WAR240924BI02,11.08,2024-10-02,,GA,1218.59,1218.59,
...,...,...,...,...,...,...,...,...,...,...
561,WAR180518,WAR180518,WAR180518TH01,140.7,2018-05-18,,,,,
562,WAR180206,WAR180206,WAR180206TH04,,2018-02-06,,,,,is a duplicate of WAR190311
563,WAR180206,WAR180206,WAR180206TH03,,2018-02-06,,,,,is a duplicate of WAR190311
564,WAR180206,WAR180206,WAR180206TH02,116.0,2018-02-06,,,,,Pulled off due to tropical depression. Too wet.
565,WAR180206,WAR180206,WAR180206TH01,77.63,2018-02-06,,,,,Portion of this stand previously harvested in ...

In [10]:
status_df = war_df[['UniqueID', 'Status', 'Completed Date']].copy()
status_df

          UniqueID             Status Completed Date
9    WAR241003TH01            PENDING
10   WAR240924TH03               OPEN
11   WAR240924TH02               OPEN
12   WAR240924TH01               OPEN
13   WAR240924BI02               OPEN
..             ...                ...            ...
561  WAR180518TH01          COMPLETED
562  WAR180206TH04  DUPLICATE REQUEST
563  WAR180206TH03  DUPLICATE REQUEST
564  WAR180206TH02          COMPLETED
565  WAR180206TH01          COMPLETED     2023-03-01

[278 rows x 3 columns]

In [11]:
ticket_df = war_df[['UniqueID', 'TicketID']].copy()
ticket_df

          UniqueID       TicketID
9    WAR241003TH01  WAR241003TH01
10   WAR240924TH03  WAR240924TH03
11   WAR240924TH02  WAR240924TH02
12   WAR240924TH01  WAR240924TH01
13   WAR240924BI02  WAR240924BI02
..             ...            ...
561  WAR180518TH01  WAR180518TH01
562  WAR180206TH04  WAR180206TH04
563  WAR180206TH03  WAR180206TH03
564  WAR180206TH02  WAR180206TH02
565  WAR180206TH01  WAR180206TH01

[278 rows x 2 columns]

### I think this is a decent structure to get started

Next Steps:
cleaning data.

client_df:
 - RP needs to be an int
 - scheduled needs to be ...something... datetime?
 - age needs to be int
 - tract, comp, and stand should be str
 - all of the harvest data needs to be int (of float?) PlnBA, PlnTPA, PreBA, etc.
 - Do we want comp to be nullable? Probably

In [12]:
client_df['Reporting Period'] = client_df['Reporting Period'].fillna(0)

In [13]:
client_df.loc[client_df['Reporting Period'] == "", 'Reporting Period'] = 0

In [14]:
s = client_df.loc[pd.to_numeric(client_df['Reporting Period'], errors='coerce').isnull() & client_df['Reporting Period'].str.contains("RP"), 'Reporting Period'].apply(lambda x: x.strip()[-1])

In [15]:
client_df['trial'] = client_df.index.map(s)

In [16]:
client_df.loc[pd.to_numeric(client_df['Reporting Period'], errors='coerce').isnull() & client_df['Reporting Period'].str.contains("RP"), 'Reporting Period'] = client_df.loc[pd.to_numeric(client_df['Reporting Period'], errors='coerce').isnull() & client_df['Reporting Period'].str.contains("RP"), 'trial']

In [17]:
client_df['Reporting Period'] = pd.to_numeric(client_df['Reporting Period'], downcast='integer')

In [18]:
client_df['Age'] = pd.to_numeric(client_df['Age'], errors='coerce', downcast='integer').fillna(0).astype(int)

In [19]:
client_df.loc[pd.to_numeric(client_df['Future GT'], errors='coerce').isnull(), 'Future GT'] = 0

In [20]:
client_df['Tract'] = client_df['Tract'].astype(str)
client_df['Stand'] = client_df['Stand'].astype(str)

In [21]:
client_df['Tract'] = client_df['Tract'].apply(lambda x: x.split('.')[0])
client_df.head()

,UniqueID,Tract,CMP,Stand,Acres,Age,County,State,Stand Type,Origin,...,PreBA,PreTPA,PreGTA,PlnBA,PlnTPA,PlnGTA,Client GT,Future GT,Reporting Period,trial
9,WAR241003TH01,Racepond,4,12,29.92,22,CHARLTON,GA,Slash Pine,Planted,...,160.0,550.0,80.0,70.0,300.0,45.0,1047.2,0.0,9,NaN
10,WAR240924TH03,13054,NP,23,31.29,44,Heard,GA,Loblolly Pine,Planted,...,100.0,165.0,110.0,60.0,75.0,85.0,782.0,0.0,9,NaN
11,WAR240924TH02,13053,NP,44,146.55,33,Heard,GA,Loblolly Pine,Planted,...,120.0,330.0,115.0,70.0,185.0,85.0,4397.0,0.0,9,NaN
12,WAR240924TH01,13053,NP,23,110.81,24,Heard,GA,Loblolly Pine,Planted,...,110.0,350.0,105.0,70.0,200.0,70.0,3878.0,0.0,9,NaN
13,WAR240924BI02,13054,NP,23,11.07,44,Heard,GA,Loblolly Pine,Planted,...,100.0,165.0,110.0,0.0,0.0,0.0,1218.0,0.0,9,NaN

What to do about the PreBA, etc. fields... They need to all be int

In [22]:
client_df['PreBA'] = pd.to_numeric(client_df['PreBA'], errors='coerce', downcast='integer').fillna(-99).astype(int)

In [23]:
cols = ['PreBA', 'PreTPA', 'PreGTA', 'PlnBA', 'PlnTPA', 'PlnGTA']

for x in cols:
    client_df[x] = pd.to_numeric(client_df[x], errors='coerce', downcast='integer').fillna(-99).astype(int)

In [24]:
client_df

,UniqueID,Tract,CMP,Stand,Acres,Age,County,State,Stand Type,Origin,...,PreBA,PreTPA,PreGTA,PlnBA,PlnTPA,PlnGTA,Client GT,Future GT,Reporting Period,trial
9,WAR241003TH01,Racepond,4,12,29.92,22,CHARLTON,GA,Slash Pine,Planted,...,160,550,80,70,300,45,1047.2,0.0,9,NaN
10,WAR240924TH03,13054,NP,23,31.29,44,Heard,GA,Loblolly Pine,Planted,...,100,165,110,60,75,85,782.0,0.0,9,NaN
11,WAR240924TH02,13053,NP,44,146.55,33,Heard,GA,Loblolly Pine,Planted,...,120,330,115,70,185,85,4397.0,0.0,9,NaN
12,WAR240924TH01,13053,NP,23,110.81,24,Heard,GA,Loblolly Pine,Planted,...,110,350,105,70,200,70,3878.0,0.0,9,NaN
13,WAR240924BI02,13054,NP,23,11.07,44,Heard,GA,Loblolly Pine,Planted,...,100,165,110,0,0,0,1218.0,0.0,9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,WAR180518TH01,4255,Elbert 11,1.0,150.92,0,Crawford,GA,Loblolly Pine,Planted,...,160,388,-99,-99,200,-99,,0,3,3
562,WAR180206TH04,13193,NP,23.0,327.33,16,Troup,GA,Loblolly Pine,Planted,...,168,106,-99,85,55,-99,,0,0,NaN
563,WAR180206TH03,13150,NP,13.0,148.54,16,Heard,GA,Loblolly Pine,Planted,...,168,106,-99,85,55,-99,,0,0,NaN
564,WAR180206TH02,93A,NP,1.0,121.7,16,Troup,GA,Loblolly Pine,Planted,...,168,106,-99,85,55,-99,,0,2,NaN
565,WAR180206TH01,54A,NP,1.0,128.7,15,Meriwether,GA,Loblolly Pine,Planted,...,174,109,-99,85,59,-99,,0,3,3

I am feeling ok about the client table now.
I want to try out the "RP Request" table next.

Purpose:
- Keeping a running tally of what is expected in each RP
  - We are given a total GT expected with intake
  - We are given harvest volume over time
  - Assessments are done on "Expected" versus an RP's allotment - which is why the RP expected is important
- Options:
  - Just subtract harvested off of total expected?
    - I don't think this will work because harvests often go over multiple periods and you don't want to overaccount expected volume
  - Keep track of expected volume by RP and update the new "current" rp with any carryover volume at each EORP assessment/analysis
- Other Issues:
  - We track volume at the TicketID scale, not the UniqueID
    - Expected volume will need to be GroupBy'd TicketID
    - TicketID will be set at the intake period and we recently decided to change the protocol to make sure that all harvests in a stand are in the same ticketid

Steps:
- Create TicketID table
- Groupby uniqueids by ticketid and get the current gt expected, next gt expected, and reporting period
- Get the RP8 harvest volumes by ticket id
- Carryover any RP8 volume for activities still in progress that is remaining after harvested volume is accounted for.
  - If they over harvest RP8 (harvest more than expected), do you maintain the same RP9 expected?

In [25]:
tickety_client_df = pd.merge(client_df, ticket_df, how='left', left_on='UniqueID', right_on='UniqueID')

In [26]:
tickety_client_df.head()

,UniqueID,Tract,CMP,Stand,Acres,Age,County,State,Stand Type,Origin,...,PreTPA,PreGTA,PlnBA,PlnTPA,PlnGTA,Client GT,Future GT,Reporting Period,trial,TicketID
0,WAR241003TH01,Racepond,4,12,29.92,22,CHARLTON,GA,Slash Pine,Planted,...,550,80,70,300,45,1047.2,0.0,9,NaN,WAR241003TH01
1,WAR240924TH03,13054,NP,23,31.29,44,Heard,GA,Loblolly Pine,Planted,...,165,110,60,75,85,782.0,0.0,9,NaN,WAR240924TH03
2,WAR240924TH02,13053,NP,44,146.55,33,Heard,GA,Loblolly Pine,Planted,...,330,115,70,185,85,4397.0,0.0,9,NaN,WAR240924TH02
3,WAR240924TH01,13053,NP,23,110.81,24,Heard,GA,Loblolly Pine,Planted,...,350,105,70,200,70,3878.0,0.0,9,NaN,WAR240924TH01
4,WAR240924BI02,13054,NP,23,11.07,44,Heard,GA,Loblolly Pine,Planted,...,165,110,0,0,0,1218.0,0.0,9,NaN,WAR240924BI02

Future GT is messy and apparently has some strings in it!

In [29]:
gt_df = tickety_client_df.groupby('TicketID').agg({'Client GT': "sum",
                                           'Future GT': "sum",
                                           "Reporting Period" : pd.Series.mode # this could cause problems in the future
                                           }).reset_index()

In [32]:
# Trying to build a gt_df off of the tickety_client_df
# There will be three fields : TicketID, Reporting Period, and GT
# Future GT will have a Reporting period of the row's reporting period + 1
# Not worrying about carryover volume yet
gt_df['GT'] = gt_df['Client GT']

In [36]:
interim_df = gt_df.loc[gt_df['Future GT'] > 0].copy()
interim_df['Reporting Period'] = interim_df['Reporting Period'] + 1
interim_df['GT'] = interim_df['Future GT']

In [37]:
gt_df = pd.concat([gt_df, interim_df])
gt_df

          TicketID Client GT    Future GT  Reporting Period           GT
0    WAR180206TH01                      0                 3
1    WAR180206TH02                      0                 2
2    WAR180206TH03                      0                 0
3    WAR180206TH04                      0                 0
4    WAR180518TH01                      0                 3
..             ...       ...          ...               ...          ...
179  WAR240529TT01    5874.0      5878.65                 9      5878.65
180  WAR240606TH01       0.0  4676.350098                 9  4676.350098
181  WAR240606TH02       0.0  6161.100098                 9  6161.100098
182  WAR240606TH03       0.0  2810.100098                 9  2810.100098
183  WAR240606TH04       0.0   878.400024                 9   878.400024

[253 rows x 5 columns]

In [38]:
interim_df

          TicketID     Client GT    Future GT  Reporting Period           GT
55   WAR210218XXXX                     7876.2                 6       7876.2
76   WAR220809CC01                      500.0                 1        500.0
77   WAR220809CC02                     2912.0                 1       2912.0
83   WAR220827TH02                      155.0                 1        155.0
112  WAR230811CCXX  12000.000135   4443.00005                 9   4443.00005
113  WAR230811TN01        185.48        89.52                 9        89.52
114  WAR230811TN02       1203.51       580.85                 9       580.85
115  WAR230811TN03        683.01       329.64                 9       329.64
126  WAR231004CCXX   4000.000122       1779.0                 9       1779.0
127  WAR231004TN01        1000.0        569.0                 9        569.0
142  WAR240101CCXX      16270.52  4067.628052                 9  4067.628052
146  WAR240130TT01        6806.0       6806.0                 9       6806.0
147  WAR240201TT01        2722.0       2722.0                 9       2722.0
148  WAR240220CC01           0.0  3390.610107                 9  3390.610107
149  WAR240220CC02           0.0  2887.439941                 9  2887.439941
150  WAR240220CC03           0.0  3818.510986                 9  3818.510986
151  WAR240220CC04           0.0  1942.459961                 9  1942.459961
152  WAR240220CC05           0.0  3848.149902                 9  3848.149902
153  WAR240220CC06           0.0  3027.830078                 9  3027.830078
154  WAR240220TT01           0.0      22282.0                 9      22282.0
155  WAR240302TT01           0.0      9481.42                 9      9481.42
156  WAR240302TT02           0.0       5718.0                 9       5718.0
157  WAR240302TT03           0.0       2850.0                 9       2850.0
158  WAR240417TH01           0.0       2058.0                 9       2058.0
159  WAR240426CCXX       46519.2     48499.02                 9     48499.02
160  WAR240426TH01           0.0      6235.32                 9      6235.32
168  WAR240523TT01           0.0       3705.0                 9       3705.0
169  WAR240523TT02           0.0       4871.0                 9       4871.0
170  WAR240524TH01       1347.85       1348.6                 9       1348.6
171  WAR240524TT01       3941.44       3943.7                 9       3943.7
172  WAR240529BI01        2077.2      2079.17                 9      2079.17
173  WAR240529BI02        1563.3      1564.29                 9      1564.29
174  WAR240529BI03        1565.1      1566.42                 9      1566.42
175  WAR240529BI04        2880.9      2882.76                 9      2882.76
176  WAR240529BI05        3417.3      3420.13                 9      3420.13
177  WAR240529BI06        3176.1      3178.57                 9      3178.57
178  WAR240529BI07        1521.6      1522.74                 9      1522.74
179  WAR240529TT01        5874.0      5878.65                 9      5878.65
180  WAR240606TH01           0.0  4676.350098                 9  4676.350098
181  WAR240606TH02           0.0  6161.100098                 9  6161.100098
182  WAR240606TH03           0.0  2810.100098                 9  2810.100098
183  WAR240606TH04           0.0   878.400024                 9   878.400024

In [40]:
gt_df[gt_df['TicketID'] == 'WAR240101CCXX']

          TicketID Client GT    Future GT  Reporting Period           GT
142  WAR240101CCXX  16270.52  4067.628052                 8     16270.52
142  WAR240101CCXX  16270.52  4067.628052                 9  4067.628052

In [41]:
gt_df = gt_df[['TicketID', 'Reporting Period', 'GT']].copy()
gt_df

          TicketID  Reporting Period           GT
0    WAR180206TH01                 3
1    WAR180206TH02                 2
2    WAR180206TH03                 0
3    WAR180206TH04                 0
4    WAR180518TH01                 3
..             ...               ...          ...
179  WAR240529TT01                 9      5878.65
180  WAR240606TH01                 9  4676.350098
181  WAR240606TH02                 9  6161.100098
182  WAR240606TH03                 9  2810.100098
183  WAR240606TH04                 9   878.400024

[253 rows x 3 columns]

I think this is it. The weird parts are going to be starting this aggregated at the stand level - need to check if any current harvests are in the same stand and the checking/updating every eorp... But we do this at the moment anyway.

I guess.. let's grab the rp8 mill ticket update compiled and see what everything looks like with that process of updating RP9 based on carryover volume

In [42]:
rp8_compiled = pd.read_excel(r"P:\Mill Tickets\WAR_RP8\WAR_RP8_Compiled.xlsm", sheet_name='RP_Project')

In [43]:
rp8_compiled.columns

Index(['Date', 'Ticket', 'Mill', 'Product', 'Tons (U.S)', 'Cull Tons',
       'Accepted Tons', 'Compartment', 'Stand', 'County', 'Source', 'Notes',
       'Reporting Period', 'IntakeID', 'TicketID', 'Week'],
      dtype='object')

In [45]:
rp8_harvested = rp8_compiled.groupby('TicketID')['Tons (U.S)'].sum().reset_index()

In [46]:
rp8_accounting = pd.merge(gt_df, rp8_harvested, how='left', left_on='TicketID', right_on='TicketID')
rp8_accounting

          TicketID  Reporting Period           GT  Tons (U.S)
0    WAR180206TH01                 3                      NaN
1    WAR180206TH02                 2                      NaN
2    WAR180206TH03                 0                      NaN
3    WAR180206TH04                 0                      NaN
4    WAR180518TH01                 3                      NaN
..             ...               ...          ...         ...
248  WAR240529TT01                 9      5878.65         NaN
249  WAR240606TH01                 9  4676.350098         NaN
250  WAR240606TH02                 9  6161.100098      4757.8
251  WAR240606TH03                 9  2810.100098         NaN
252  WAR240606TH04                 9   878.400024         NaN

[253 rows x 4 columns]

In [50]:
rp8_accounting = rp8_accounting[(rp8_accounting['Tons (U.S)'].notnull()) & (rp8_accounting['Reporting Period'] == 8)].copy()
rp8_accounting

          TicketID  Reporting Period            GT  Tons (U.S)
70   WAR220728XXXX                 8        6177.0   12236.830
72   WAR220801CC01                 8        3268.0    7330.200
74   WAR220801CC03                 8       10324.0   14742.600
78   WAR220809CC03                 8       17829.0   18096.610
81   WAR220809CC06                 8        2718.0    3168.270
84   WAR220922TH01                 8         147.0    7320.430
90   WAR230112TT01                 8        6167.0    6728.630
91   WAR230113TD01                 8       33490.0    7651.080
92   WAR230113TD02                 8       12851.0      95.910
94   WAR230113TD04                 8       12680.0   11999.750
95   WAR230113TD05                 8           0.0    3746.470
98   WAR230203TTXX                 8        4186.0    5966.100
100  WAR230303TH02                 8        5995.0    6868.590
101  WAR230318CC05                 8        4256.0    5363.040
102  WAR230318TH02                 8        4389.0    4765.700
103  WAR230318TT01                 8       9257.62    6705.950
106  WAR230318TT06                 8         306.0     771.600
108  WAR230330TDXX                 8       15270.0   10024.360
109  WAR230711TH01                 8       15300.0   15124.260
110  WAR230712TH01                 8        4450.0    1811.500
111  WAR230712TH02                 8        2828.0    2347.730
112  WAR230811CCXX                 8  12000.000135     706.100
116  WAR230817CCXX                 8        6462.0   17239.670
117  WAR230817TT01                 8    394.200012    2288.870
118  WAR230818TH01                 8   3250.449951    4317.660
119  WAR230818TH02                 8        3017.0    2805.120
122  WAR230908TH04                 8  18043.550781   13091.680
123  WAR230908XXXX                 8  27649.099792   19164.260
124  WAR230919TH01                 8   5933.899902    4770.040
125  WAR230926TH01                 8   4374.299805    3093.730
126  WAR231004CCXX                 8   4000.000122    6566.880
128  WAR231006BI01                 8           0.0    1903.330
131  WAR231013TT01                 8        6236.0    9603.990
133  WAR231020THXX                 8        1753.5    1556.500
134  WAR231107CCXX                 8  33303.249414   28031.404
135  WAR231107TH01                 8        3996.0    5650.410
136  WAR231107TH02                 8   2749.600098    4437.050
138  WAR231107TH04                 8   1599.150024     770.390
140  WAR231124XXXX                 8   7220.000183    7350.280
141  WAR231220TH01                 8  11828.599609   18037.803
142  WAR240101CCXX                 8      16270.52   18017.100
143  WAR240104TH01                 8         734.1    1342.890
144  WAR240109BIXX                 8      10462.03    8699.930
156  WAR240302TT02                 8           0.0    4235.860
157  WAR240302TT03                 8           0.0    2510.220
158  WAR240417TH01                 8           0.0    1873.180
181  WAR240606TH02                 8           0.0    4757.800

Ok, looks like there are a couple harvests that were harvested early (scheduled for rp9 but some harvesting occurred in rp8)

In [51]:
rp8_accounting['Carryover'] = rp8_accounting['GT'] - rp8_accounting['Tons (U.S)']
rp8_accounting

          TicketID  Reporting Period            GT  Tons (U.S)     Carryover
70   WAR220728XXXX                 8        6177.0   12236.830      -6059.83
72   WAR220801CC01                 8        3268.0    7330.200       -4062.2
74   WAR220801CC03                 8       10324.0   14742.600       -4418.6
78   WAR220809CC03                 8       17829.0   18096.610       -267.61
81   WAR220809CC06                 8        2718.0    3168.270       -450.27
84   WAR220922TH01                 8         147.0    7320.430      -7173.43
90   WAR230112TT01                 8        6167.0    6728.630       -561.63
91   WAR230113TD01                 8       33490.0    7651.080      25838.92
92   WAR230113TD02                 8       12851.0      95.910      12755.09
94   WAR230113TD04                 8       12680.0   11999.750        680.25
95   WAR230113TD05                 8           0.0    3746.470      -3746.47
98   WAR230203TTXX                 8        4186.0    5966.100       -1780.1
100  WAR230303TH02                 8        5995.0    6868.590       -873.59
101  WAR230318CC05                 8        4256.0    5363.040      -1107.04
102  WAR230318TH02                 8        4389.0    4765.700        -376.7
103  WAR230318TT01                 8       9257.62    6705.950       2551.67
106  WAR230318TT06                 8         306.0     771.600        -465.6
108  WAR230330TDXX                 8       15270.0   10024.360       5245.64
109  WAR230711TH01                 8       15300.0   15124.260        175.74
110  WAR230712TH01                 8        4450.0    1811.500        2638.5
111  WAR230712TH02                 8        2828.0    2347.730        480.27
112  WAR230811CCXX                 8  12000.000135     706.100  11293.900135
116  WAR230817CCXX                 8        6462.0   17239.670     -10777.67
117  WAR230817TT01                 8    394.200012    2288.870  -1894.669988
118  WAR230818TH01                 8   3250.449951    4317.660  -1067.210049
119  WAR230818TH02                 8        3017.0    2805.120        211.88
122  WAR230908TH04                 8  18043.550781   13091.680   4951.870781
123  WAR230908XXXX                 8  27649.099792   19164.260   8484.839792
124  WAR230919TH01                 8   5933.899902    4770.040   1163.859902
125  WAR230926TH01                 8   4374.299805    3093.730   1280.569805
126  WAR231004CCXX                 8   4000.000122    6566.880  -2566.879878
128  WAR231006BI01                 8           0.0    1903.330      -1903.33
131  WAR231013TT01                 8        6236.0    9603.990      -3367.99
133  WAR231020THXX                 8        1753.5    1556.500         197.0
134  WAR231107CCXX                 8  33303.249414   28031.404   5271.845414
135  WAR231107TH01                 8        3996.0    5650.410      -1654.41
136  WAR231107TH02                 8   2749.600098    4437.050  -1687.449902
138  WAR231107TH04                 8   1599.150024     770.390    828.760024
140  WAR231124XXXX                 8   7220.000183    7350.280   -130.279817
141  WAR231220TH01                 8  11828.599609   18037.803  -6209.203391
142  WAR240101CCXX                 8      16270.52   18017.100      -1746.58
143  WAR240104TH01                 8         734.1    1342.890       -608.79
144  WAR240109BIXX                 8      10462.03    8699.930        1762.1
156  WAR240302TT02                 8           0.0    4235.860      -4235.86
157  WAR240302TT03                 8           0.0    2510.220      -2510.22
158  WAR240417TH01                 8           0.0    1873.180      -1873.18
181  WAR240606TH02                 8           0.0    4757.800       -4757.8

In [52]:
harvested_ids = rp8_accounting['TicketID'].unique().tolist()

In [53]:
gt_df[(gt_df['TicketID'].isin(harvested_ids)) & (gt_df['Reporting Period'] == 9)]

          TicketID  Reporting Period           GT
112  WAR230811CCXX                 9   4443.00005
126  WAR231004CCXX                 9       1779.0
142  WAR240101CCXX                 9  4067.628052
156  WAR240302TT02                 9       5718.0
157  WAR240302TT03                 9       2850.0
158  WAR240417TH01                 9       2058.0
181  WAR240606TH02                 9  6161.100098

Interesting. 
- WAR230811CCXX has been replaced by WAR240627BI02 - RP9 expected should be 23703.79
  - 230811CCXX is in my list because I did not filter out completed activities/withdrawn
- WAR231004CCXX harvested more than expected in RP8 - Rob did not take the excess volume out of RP9
- Rob did not account for carryover on WAR240101CCXX - think because of the ticketid / uniqueid difference or because we aren't transferring over harvesting from RP8 to RP9
- WAR240302 Rob did account for harvesting in RP8 with the RP9 volumes - because all volume was supposed to come from RP9, but they changed their minds.
- WAR240417TH01 is in post - so completed? I think Rob did not include it because it is Post
- WAR240606TH02 Rob did account for harvesting in RP8 with the RP9 volumes - because all volume was supposed to come from RP9, but they changed their minds.

Ok... Things to think about

- Only transfer remaining volume at the EORP if an activity is "In Process" - If it is "Post" or "Completed" there is no "Next Rp" anyway for that activity
- Any over harvesting in an RP will affect the estimated volume for the next RP
  - If RP8 is overharvested by 100 tons RP9 volume will go down by 100 tons at the EORP transfer/adjustment
    - This could lead to negative values for activities - but that is a communication point with the client that they harvested more than expected.
- Could write an sql query or python script that would take in a project ID (WAR) and a Reporting Period (8) and update the next RP's expected volume
- What happens to an activity that you don't have Post-Imp for and has overharvested
  - In RP8 Expected = 500 and harvested = 600. 
    - No Post-Imp so RP9 expected is create and would = -100
      - This doesn't seem right. Probably should just be 0 (I think this is how Rob handled it).

If Status is In Process or Open (get list of IDs in this category)

- So, wherever there is RP8 and no RP9:
  - If RP8 Expected > RP8 Harvested:
    - RP9 Expected = Expected - Harvested

- If there is an RP9
  - RP9 = RP9 + (RP8 Expected - RP8 Harvested)

- If any results are < 0 just return 0