In [23]:
import pandas as pd
from smartsheet_dataframe import get_as_df
import os
import sqlite3


conn = sqlite3.connect('./WAR_RP9_InProcess/trial-db/Harvest.db')
c = conn.cursor()

In [24]:
# Storing Smartsheet information in variables
shitz_token = "wMvGniITjDFd7ClZPE44wtJGvZkM7Hg7mP7if" #Bily's personal token to access G-A smartsheet data. Anyone can obtain their own token
fhaid = 4523924143794052 # The ID number that references the FHA sheet
mssid = 3005704744265604 # The ID number that references the MSS sheet

# Creating the FHA and MSS dataframes
fha_df = get_as_df(type_='sheet',
                  token=shitz_token,
                  id_=fhaid)

mss_df = get_as_df(type_='sheet',
                  token=shitz_token,
                  id_=mssid)

war_df = mss_df.loc[mss_df['UniqueID'].str.contains("WAR")].copy()

In [ ]:
proj_ids = ['WAR', 'WRR', 'BJT']
mega_df = pd.DataFrame()
for id in proj_ids:
    mill_loc = r"P:\Mill Tickets"
    file_pattern = f"{id}_RP*_Compiled.xlsm"
    big_df = pd.DataFrame()

    mill_name = []
    for root, dirs, files in os.walk(mill_loc):
        for file in files:
            if f"{id}_RP" in file and file.endswith("Compiled.xlsm"):
                if "$" in file:
                    pass
                else:
                    print(root)
                    print(file)
                    df = pd.read_excel(os.path.join(root, file), sheet_name='RP_Project')
                    big_df = pd.concat([big_df, df])
    mega_df = pd.concat([mega_df, big_df])
                    

big_df.loc[big_df['Tons (U.S)'].isnull(), 'Tons (U.S)'] = big_df.loc[big_df['Tons (U.S)'].isnull(), 'TonsUS']
big_df['Cull Tons'].fillna(big_df['CullTons'], inplace=True)
big_df['Accepted Tons'].fillna(big_df['AcceptedTons'], inplace=True)
big_df['Reporting Period'].fillna(big_df['ReportingPeriod'],inplace=True)

def rep_fix(x):
    if "RP" in str(x):
        return x[-1]
    else:
        return x
    
big_df['Reporting Period'] = big_df['Reporting Period'].apply(lambda x: rep_fix(x))
big_df['Reporting Period'] = pd.to_numeric(big_df['Reporting Period'])

big_df['Date'] = pd.to_datetime(big_df['Date'])

harvest_df = big_df[['Date',
                'Ticket',
                'Mill',
                'Product',
                'Tons (U.S)',
                'Cull Tons',
                'Accepted Tons',
                'Source',
                'Notes',
                'Reporting Period',
                'TicketID',
                'Week']].copy()

harvest_df = harvest_df.drop_duplicates()

P:\Mill Tickets\ARCHIVE\WAR_RP6
WAR_RP6_Compiled.xlsm
P:\Mill Tickets\ARCHIVE\WAR_RP7
WAR_RP7_Compiled.xlsm
P:\Mill Tickets\ARCHIVE\WAR_RP8
WAR_RP8_Compiled.xlsm
P:\Mill Tickets\Retroactive_Ticket_imageing\WAR\WAR_RP2
WAR_RP2_Compiled.xlsm

c:\Users\bbrown\Anaconda3\envs\postgres_python\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

P:\Mill Tickets\Retroactive_Ticket_imageing\WAR\WAR_RP3
WAR_RP3_Compiled.xlsm

c:\Users\bbrown\Anaconda3\envs\postgres_python\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

P:\Mill Tickets\Retroactive_Ticket_imageing\WAR\WAR_RP4
WAR_RP4_Compiled.xlsm

c:\Users\bbrown\Anaconda3\envs\postgres_python\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

P:\Mill Tickets\Retroactive_Ticket_imageing\WAR\WAR_RP5
WAR_RP5_Compiled.xlsm

c:\Users\bbrown\Anaconda3\envs\postgres_python\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

P:\Mill Tickets\WAR_RP9
WAR_RP9_Compiled.xlsm
P:\Mill Tickets\ARCHIVE\WRR_RP5
WRR_RP5_Compiled.xlsm
P:\Mill Tickets\ARCHIVE\WRR_RP6
WRR_RP6_Compiled.xlsm
P:\Mill Tickets\ARCHIVE\WRR_RP7
WRR_RP7_Compiled.xlsm
P:\Mill Tickets\WRR_RP8
WRR_RP8_Compiled.xlsm
P:\Mill Tickets\ARCHIVE\BJT_RP5
BJT_RP5_Compiled.xlsm
P:\Mill Tickets\ARCHIVE\BJT_RP6
BJT_RP6_Compiled.xlsm
P:\Mill Tickets\ARCHIVE\BJT_RP7
BJT_RP7_Compiled.xlsm

C:\Users\bbrown\AppData\Local\Temp\ipykernel_4732\2987311709.py:17: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  big_df = pd.concat([big_df, df])

P:\Mill Tickets\BJT_RP8
BJT_RP8_Compiled.xlsm

KeyError: 'TonsUS'

In [27]:
big_df

,Date,Ticket,Mill,Product,Tons (U.S),Cull Tons,Accepted Tons,Compartment,Stand,County,Source,Notes,Reporting Period,IntakeID,TicketID,Week,Unnamed: 16
0,2021-11-17,232534,Sheppard Lumber,CNS,27.60,0.0,27.60,168,1,Burke,BJT 168_Stand 1_Week 1.pdf,NaN,RP5,BJT210519,BJT210519TT01,1,NaN
1,2021-11-17,498416,West Fraser - Augusta,CNS,32.42,0.4,32.02,168,1,Burke,BJT 168_Stand 1_Week 1.pdf,The summary sheet said CNS - Init Cart CS - Ne...,RP5,BJT210519,BJT210519TT01,1,NaN
2,2021-11-17,498421,West Fraser - Augusta,PST,32.07,0.4,31.67,168,1,Burke,BJT 168_Stand 1_Week 1.pdf,The summary sheet said CNS - Grade SS - Need t...,RP5,BJT210519,BJT210519TT01,1,NaN
3,2021-11-17,159744,International Paper 70152 - McBean Woodyard - ...,PPW,29.25,0.0,29.25,168,1,Burke,BJT 168_Stand 1_Week 1.pdf,NaN,RP5,BJT210519,BJT210519TT01,1,NaN
4,2021-11-17,159747,International Paper 70152 - McBean Woodyard - ...,PPW,30.09,0.0,30.09,168,1,Burke,BJT 168_Stand 1_Week 1.pdf,NaN,RP5,BJT210519,BJT210519TT01,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,2024-08-01,55418,Faircloth Forest Products,PPW,27.67,0.0,27.67,39,3,Glascock,2024BJT39wk4.pdf,NaN,RP8,BJT230510,BJT230510TT01,Week03,New Update
122,2024-07-26,55132,Faircloth Forest Products,CNS,29.31,0.0,29.31,39,3,Glascock,2024BJT39wk4.pdf,NaN,RP8,BJT230510,BJT230510TT01,Week03,New Update
123,2024-08-10,55215,Faircloth Forest Products,PPW,32.78,0.0,32.78,39,3,Glascock,2024BJT39wk4.pdf,NaN,RP8,BJT230510,BJT230510TT01,Week03,New Update
124,2024-07-31,55341,Faircloth Forest Products,CNS,30.64,0.0,30.64,39,3,Glascock,2024BJT39wk4.pdf,NaN,RP8,BJT230510,BJT230510TT01,Week03,New Update
125,2024-07-29,55170,Faircloth Forest Products,CNS,32.35,0.0,32.35,39,3,Glascock,2024BJT39wk4.pdf,NaN,RP8,BJT230510,BJT230510TT01,Week03,New Update

In [4]:
harvest_df.loc[harvest_df['TicketID'] == 'WAR18051XXXX', 'TicketID'] = 'WAR180518XXXX' # Found some mislabeled tickets

In [5]:
# Time for the mill ticket normalization
# Normalize the Weeks column.
# Normalize the source column
# Normalize the Mill column
# Normalize the Product column

In [6]:
len(harvest_df['Mill'].unique().tolist())

85

In [7]:
len(harvest_df['Mill'].str.lower().unique().tolist())

85

In [8]:
mill_list = harvest_df['Mill'].unique().tolist()
mill_dict = {}
mill_dict['mill'] = mill_list
mill_df = pd.DataFrame(mill_dict)
mill_df['mill_uid'] = mill_df.index
mill_mapper = dict(zip(mill_df['mill'], mill_df['mill_uid']))
harvest_df['mill'] = harvest_df['Mill'].map(mill_mapper)
harvest_df.drop(columns=['Mill'], inplace=True)

In [9]:
harvest_df['Week'] = harvest_df['Week'].astype(str)
harvest_df.loc[harvest_df['Week'] == 'Week3b', 'Week'] = "3"
def weeker(week):
    if "Week" in week:
        x = week.split("k")[1]
        x = int(x)
        return x
    else:
        return int(week)
    
harvest_df['Week_trial'] = harvest_df['Week'].apply(lambda x: weeker(x))

week_list = harvest_df['Week_trial'].unique().tolist()
week_dict = {}
week_dict['week'] = week_list
week_df = pd.DataFrame(week_dict)
week_df['week_uid'] = week_df.index
week_mapper = dict(zip(week_df['week'], week_df['week_uid']))
harvest_df['week'] = harvest_df['Week_trial'].map(week_mapper)

In [10]:
product_list = harvest_df['Product'].unique().tolist()
product_dict = {}
product_dict['product'] = product_list
product_df = pd.DataFrame(product_dict)
product_df['product_uid'] = product_df.index
product_mapper = dict(zip(product_df['product'], product_df['product_uid']))
harvest_df['product'] = harvest_df['Product'].map(product_mapper)

In [11]:
harvest_df

,Date,Ticket,Product,Tons (U.S),Cull Tons,Accepted Tons,Source,Notes,Reporting Period,TicketID,Week,mill,Week_trial,week,product
0,2021-08-02,160048,PPW,26.31,0.000,26.310,M-82_Week 1.pdf,NaN,6,WAR201030TH04,Week01,0,1,0,0
1,2021-08-03,160157,PPW,25.79,0.000,25.790,M-82_Week 1.pdf,NaN,6,WAR201030TH04,Week01,0,1,0,0
2,2021-08-03,160120,PPW,25.32,0.000,25.320,M-82_Week 1.pdf,,6,WAR201030TH04,Week01,0,1,0,0
3,2021-08-03,160155,PPW,25.31,0.000,25.310,M-82_Week 1.pdf,,6,WAR201030TH04,Week01,0,1,0,0
4,2021-08-03,160082,PPW,27.17,0.000,27.170,M-82_Week 1.pdf,,6,WAR201030TH04,Week01,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1569,2024-08-16,292262,PPW,27.93,0.000,27.930,13093 week 20 pine beetle salvage (Flint Crew...,NaN,9,WAR240618BI03,Week10,47,10,1,0
1570,2024-08-17,292264,PPW,29.21,0.000,29.210,13093 week 20 pine beetle salvage (Flint Crew...,NaN,9,WAR240618BI03,Week10,47,10,1,0
1571,2024-08-16,69692,PST,31.24,0.125,31.115,13093 week 20 pine beetle salvage (Flint Crew...,NaN,9,WAR240618BI03,Week10,4,10,1,1
1572,2024-08-16,69753,PST,27.99,0.000,27.990,13093 week 20 pine beetle salvage (Flint Crew...,NaN,9,WAR240618BI03,Week10,4,10,1,1
1573,2024-08-15,22041,PPW,30.67,0.000,30.670,13093 week 20 pine beetle salvage (Flint Crew...,NaN,9,WAR240618BI03,Week10,36,10,1,0

In [12]:
# get ticketid from sql and see how that shakes out

ticketid_df = pd.read_sql('SELECT * FROM ticketid',conn)
ticket_id_mapper = dict(zip(ticketid_df['ticketid'], ticketid_df['id']))
harvest_df['ticketid'] = harvest_df['TicketID'].map(ticket_id_mapper)
harvest_df['ticketid'] = harvest_df['ticketid'].astype(int)

In [13]:
harvest_df.drop(columns=['Product', 'TicketID', 'Week'],inplace=True)
harvest_df.rename(columns={'Tons (U.S)': 'total_tons'})

,Date,Ticket,total_tons,Cull Tons,Accepted Tons,Source,Notes,Reporting Period,mill,Week_trial,week,product,ticketid
0,2021-08-02,160048,26.31,0.000,26.310,M-82_Week 1.pdf,NaN,6,0,1,0,0,121
1,2021-08-03,160157,25.79,0.000,25.790,M-82_Week 1.pdf,NaN,6,0,1,0,0,121
2,2021-08-03,160120,25.32,0.000,25.320,M-82_Week 1.pdf,,6,0,1,0,0,121
3,2021-08-03,160155,25.31,0.000,25.310,M-82_Week 1.pdf,,6,0,1,0,0,121
4,2021-08-03,160082,27.17,0.000,27.170,M-82_Week 1.pdf,,6,0,1,0,0,121
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1569,2024-08-16,292262,27.93,0.000,27.930,13093 week 20 pine beetle salvage (Flint Crew...,NaN,9,47,10,1,0,44
1570,2024-08-17,292264,29.21,0.000,29.210,13093 week 20 pine beetle salvage (Flint Crew...,NaN,9,47,10,1,0,44
1571,2024-08-16,69692,31.24,0.125,31.115,13093 week 20 pine beetle salvage (Flint Crew...,NaN,9,4,10,1,1,44
1572,2024-08-16,69753,27.99,0.000,27.990,13093 week 20 pine beetle salvage (Flint Crew...,NaN,9,4,10,1,1,44
1573,2024-08-15,22041,30.67,0.000,30.670,13093 week 20 pine beetle salvage (Flint Crew...,NaN,9,36,10,1,0,44

In [14]:
harvest_df.columns = [x.lower() for x in harvest_df.columns]
harvest_df.columns = [x.replace(' ', '_') for x in harvest_df.columns]
harvest_df.rename(columns={'tons_(u.s)': 'total_tons'}, inplace=True)

In [15]:
harvest_df

,date,ticket,total_tons,cull_tons,accepted_tons,source,notes,reporting_period,mill,week_trial,week,product,ticketid
0,2021-08-02,160048,26.31,0.000,26.310,M-82_Week 1.pdf,NaN,6,0,1,0,0,121
1,2021-08-03,160157,25.79,0.000,25.790,M-82_Week 1.pdf,NaN,6,0,1,0,0,121
2,2021-08-03,160120,25.32,0.000,25.320,M-82_Week 1.pdf,,6,0,1,0,0,121
3,2021-08-03,160155,25.31,0.000,25.310,M-82_Week 1.pdf,,6,0,1,0,0,121
4,2021-08-03,160082,27.17,0.000,27.170,M-82_Week 1.pdf,,6,0,1,0,0,121
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1569,2024-08-16,292262,27.93,0.000,27.930,13093 week 20 pine beetle salvage (Flint Crew...,NaN,9,47,10,1,0,44
1570,2024-08-17,292264,29.21,0.000,29.210,13093 week 20 pine beetle salvage (Flint Crew...,NaN,9,47,10,1,0,44
1571,2024-08-16,69692,31.24,0.125,31.115,13093 week 20 pine beetle salvage (Flint Crew...,NaN,9,4,10,1,1,44
1572,2024-08-16,69753,27.99,0.000,27.990,13093 week 20 pine beetle salvage (Flint Crew...,NaN,9,4,10,1,1,44
1573,2024-08-15,22041,30.67,0.000,30.670,13093 week 20 pine beetle salvage (Flint Crew...,NaN,9,36,10,1,0,44

In [16]:
harvest_df = harvest_df[['date', 'ticket', 'mill', 'total_tons', 'cull_tons', 'accepted_tons', 'source', 'notes', 'reporting_period', 'week', 'product', 'ticketid']].copy()
harvest_df.reset_index(inplace=True)
harvest_df['harvest_uid'] = harvest_df.index
harvest_df

C:\Users\bbrown\AppData\Local\Temp\ipykernel_4732\3335010183.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  harvest_df['harvest_uid'] = harvest_df.index

,index,date,ticket,mill,total_tons,cull_tons,accepted_tons,source,notes,reporting_period,week,product,ticketid,harvest_uid
0,0,2021-08-02,160048,0,26.31,0.000,26.310,M-82_Week 1.pdf,NaN,6,0,0,121,0
1,1,2021-08-03,160157,0,25.79,0.000,25.790,M-82_Week 1.pdf,NaN,6,0,0,121,1
2,2,2021-08-03,160120,0,25.32,0.000,25.320,M-82_Week 1.pdf,,6,0,0,121,2
3,3,2021-08-03,160155,0,25.31,0.000,25.310,M-82_Week 1.pdf,,6,0,0,121,3
4,4,2021-08-03,160082,0,27.17,0.000,27.170,M-82_Week 1.pdf,,6,0,0,121,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36054,1569,2024-08-16,292262,47,27.93,0.000,27.930,13093 week 20 pine beetle salvage (Flint Crew...,NaN,9,1,0,44,36054
36055,1570,2024-08-17,292264,47,29.21,0.000,29.210,13093 week 20 pine beetle salvage (Flint Crew...,NaN,9,1,0,44,36055
36056,1571,2024-08-16,69692,4,31.24,0.125,31.115,13093 week 20 pine beetle salvage (Flint Crew...,NaN,9,1,1,44,36056
36057,1572,2024-08-16,69753,4,27.99,0.000,27.990,13093 week 20 pine beetle salvage (Flint Crew...,NaN,9,1,1,44,36057
36058,1573,2024-08-15,22041,36,30.67,0.000,30.670,13093 week 20 pine beetle salvage (Flint Crew...,NaN,9,1,0,44,36058

In [17]:
harvest_df

,index,date,ticket,mill,total_tons,cull_tons,accepted_tons,source,notes,reporting_period,week,product,ticketid,harvest_uid
0,0,2021-08-02,160048,0,26.31,0.000,26.310,M-82_Week 1.pdf,NaN,6,0,0,121,0
1,1,2021-08-03,160157,0,25.79,0.000,25.790,M-82_Week 1.pdf,NaN,6,0,0,121,1
2,2,2021-08-03,160120,0,25.32,0.000,25.320,M-82_Week 1.pdf,,6,0,0,121,2
3,3,2021-08-03,160155,0,25.31,0.000,25.310,M-82_Week 1.pdf,,6,0,0,121,3
4,4,2021-08-03,160082,0,27.17,0.000,27.170,M-82_Week 1.pdf,,6,0,0,121,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36054,1569,2024-08-16,292262,47,27.93,0.000,27.930,13093 week 20 pine beetle salvage (Flint Crew...,NaN,9,1,0,44,36054
36055,1570,2024-08-17,292264,47,29.21,0.000,29.210,13093 week 20 pine beetle salvage (Flint Crew...,NaN,9,1,0,44,36055
36056,1571,2024-08-16,69692,4,31.24,0.125,31.115,13093 week 20 pine beetle salvage (Flint Crew...,NaN,9,1,1,44,36056
36057,1572,2024-08-16,69753,4,27.99,0.000,27.990,13093 week 20 pine beetle salvage (Flint Crew...,NaN,9,1,1,44,36057
36058,1573,2024-08-15,22041,36,30.67,0.000,30.670,13093 week 20 pine beetle salvage (Flint Crew...,NaN,9,1,0,44,36058

# Where am I?

What I have:
- Harvest Table where [mill, week, product, ticketid] are normalized.
- mill table
- week table
- product table
- ticketid table


I could also normalize the source, but I don't know if that is worth it at the moment.
The only other thing I could think of needing is a link to the mill tickets. Unfortunately these will move around on our server. I have also read that saving pdfs or imgs as blob in the table can really slow down the db - and there will be tens of thousands. I am not sure if that is a lot or not.

So, how do we save the ticket images in a way that is referencable?
1. Could save them in a folder structure that is referenced relative to the db. Just need to make sure that the ticket folder and the db always stay together
   1. Not great if we want to upgrade to post-gresql
2. Keep using the update compiled as the current RP table and using it as the lookup of tickets.

Next step. Let's build a little db for the harvest info for all of foundation and see what other issues we get

In [18]:
harvest_df.to_sql('harvest_volume', conn, if_exists='replace', index=False, dtype={'harvest_uid': 'INTEGER PRIMARY KEY',
                                                                                   'ticket': 'TEXT',
                                                                                   'mill': 'INTEGER',
                                                                                   'reporting_period': 'INTEGER',
                                                                                   'week': 'INTEGER',
                                                                                   'product': 'INTEGER',
                                                                                   'ticketid': 'INTEGER'})

36059

In [19]:
week_df.to_sql('harvest_week', conn, if_exists='replace', index=False, dtype={'week_uid': 'INTEGER PRIMARY KEY',
                                                                                   'week': 'INTEGER'})

79

In [20]:
mill_df.to_sql('harvest_mill', conn, if_exists='replace', index=False, dtype={'mill_uid': 'INTEGER PRIMARY KEY',
                                                                              'mill': 'TEXT'})

85

In [21]:
product_df.to_sql('harvest_product', conn, if_exists='replace', index=False, dtype={'product_uid': 'INTEGER PRIMARY KEY',
                                                                                    'product': 'TEXT'})

17

In [22]:
# Time for the mill ticket normalization
# Normalize the Weeks column.
# Normalize the Mill column
# Normalize the Product column