In [1]:
import pandas as pd
from smartsheet_dataframe import get_as_df

In [2]:
# Storing Smartsheet information in variables
shitz_token = "wMvGniITjDFd7ClZPE44wtJGvZkM7Hg7mP7if" #Bily's personal token to access G-A smartsheet data. Anyone can obtain their own token
fhaid = 4523924143794052 # The ID number that references the FHA sheet
mssid = 3005704744265604 # The ID number that references the MSS sheet

In [3]:
# Creating the FHA and MSS dataframes
fha_df = get_as_df(type_='sheet',
                  token=shitz_token,
                  id_=fhaid)

mss_df = get_as_df(type_='sheet',
                  token=shitz_token,
                  id_=mssid)

In [6]:
war_df = mss_df.loc[mss_df['UniqueID'].str.contains("WAR")].copy()

In [7]:
war_df

,row_id,parent_id,IntakeID,FolderID,UniqueID,TicketID,Tract,CMP,Stand,Acres,...,Activity Implemented,Applied GA_ACRES,PstBA,PstTPA,PstGTA,RP Completed,Notes,Completed Date,Modified,Modified By
9,3397500974108548,,WAR241003,WAR241003,WAR241003TH01,WAR241003TH01,Racepond,4,12,29.92,...,,,,,,,,,2024-10-04T17:53:34Z,
10,8293160322043780,,WAR240924,WAR240924,WAR240924TH03,WAR240924TH03,13054,NP,23,31.29,...,,,,,,,,,2024-10-03T12:14:13Z,
11,4152124653932420,,WAR240924,WAR240924,WAR240924TH02,WAR240924TH02,13053,NP,44,146.55,...,,,,,,,,,2024-10-03T12:14:13Z,
12,8095894621622148,,WAR240924,WAR240924,WAR240924TH01,WAR240924TH01,13053,NP,23,110.81,...,,,,,,,,,2024-10-03T12:14:13Z,
13,4770703023771524,,WAR240924,WAR240924,WAR240924BI02,WAR240924BI02,13054,NP,23,11.07,...,,,,,,,,,2024-10-03T12:14:13Z,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,685639696508804,4415183137924996,WAR180518,WAR180518,WAR180518TH01,WAR180518TH01,4255.0,Elbert 11,1.0,150.92,...,1st Thin,,140.0,260.0,,,,,2024-01-04T21:31:30Z,mhamilton@green-assets.com
562,3289283231082372,,WAR180206,WAR180206,WAR180206TH04,WAR180206TH04,13193.0,NP,23.0,327.33,...,,,,,,,is a duplicate of WAR190311,,2024-01-04T21:31:30Z,mhamilton@green-assets.com
563,7792882858452868,3289283231082372,WAR180206,WAR180206,WAR180206TH03,WAR180206TH03,13150.0,NP,13.0,148.54,...,,,,,,,is a duplicate of WAR190311,,2024-01-04T21:31:30Z,mhamilton@green-assets.com
564,2163383324239748,3289283231082372,WAR180206,WAR180206,WAR180206TH02,WAR180206TH02,93A,NP,1.0,121.7,...,1st Thin,,,,,,Pulled off due to tropical depression. Too wet.,,2024-01-04T21:31:30Z,mhamilton@green-assets.com
565,6666982951610244,3289283231082372,WAR180206,WAR180206,WAR180206TH01,WAR180206TH01,54A,NP,1.0,128.7,...,1st Thin,,82.0,,,,Portion of this stand previously harvested in ...,2023-03-01,2024-01-04T21:31:30Z,automation@smartsheet.com

In [8]:
war_df.columns

Index(['row_id', 'parent_id', 'IntakeID', 'FolderID', 'UniqueID', 'TicketID',
       'Tract', 'CMP', 'Stand', 'Acres', 'Age', 'GA_ACRES', 'County', 'State',
       'Plot Numbers', 'Status', 'Guidance', 'Expiration', 'GuidanceProvider',
       'Scheduled', 'Stand Type', 'Origin', 'PreBA', 'PreTPA', 'PreGTA',
       'PlnBA', 'PlnTPA', 'PlnGTA', 'Client GT', 'GA GT',
       'Current RP Expected GT', 'Future GT', 'Total GT', 'Timeframe',
       'Reporting Period', 'Activity Implemented', 'Applied GA_ACRES', 'PstBA',
       'PstTPA', 'PstGTA', 'RP Completed', 'Notes', 'Completed Date',
       'Modified', 'Modified By'],
      dtype='object')

In [59]:
client_df = war_df[['UniqueID',
                    'Tract',
                    'CMP',
                    'Stand',
                    'Acres',
                    'Age',
                    'County',
                    'State',
                    'Stand Type',
                    'Origin',
                    'Scheduled',
                    'PreBA',
                    'PreTPA',
                    'PreGTA',
                    'PlnBA',
                    'PlnTPA',
                    'PlnGTA',
                    'Client GT',
                    'Future GT',
                    'Reporting Period']].copy()
client_df

,UniqueID,Tract,CMP,Stand,Acres,Age,County,State,Stand Type,Origin,Scheduled,PreBA,PreTPA,PreGTA,PlnBA,PlnTPA,PlnGTA,Client GT,Future GT,Reporting Period
9,WAR241003TH01,Racepond,4,12,29.92,22.0,CHARLTON,GA,Slash Pine,Planted,,160.0,550.0,80.0,70.0,300.0,45.0,1047.2,0.0,9.0
10,WAR240924TH03,13054,NP,23,31.29,44.0,Heard,GA,Loblolly Pine,Planted,,100.0,165.0,110.0,60.0,75.0,85.0,782.0,0.0,9.0
11,WAR240924TH02,13053,NP,44,146.55,33.0,Heard,GA,Loblolly Pine,Planted,,120.0,330.0,115.0,70.0,185.0,85.0,4397.0,0.0,9.0
12,WAR240924TH01,13053,NP,23,110.81,24.0,Heard,GA,Loblolly Pine,Planted,,110.0,350.0,105.0,70.0,200.0,70.0,3878.0,0.0,9.0
13,WAR240924BI02,13054,NP,23,11.07,44.0,Heard,GA,Loblolly Pine,Planted,,100.0,165.0,110.0,0.0,0.0,0.0,1218.0,0.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,WAR180518TH01,4255.0,Elbert 11,1.0,150.92,NP,Crawford,GA,Loblolly Pine,Planted,2018.0,160.0,388.0,,Not Stated,200.0,,,,RP3
562,WAR180206TH04,13193.0,NP,23.0,327.33,16.0,Troup,GA,Loblolly Pine,Planted,2018.0,168.0,106.0,,85.0,55.0,,,,
563,WAR180206TH03,13150.0,NP,13.0,148.54,16.0,Heard,GA,Loblolly Pine,Planted,2018.0,168.0,106.0,,85.0,55.0,,,,
564,WAR180206TH02,93A,NP,1.0,121.7,16.0,Troup,GA,Loblolly Pine,Planted,2018.0,168.0,106.0,,85.0,55.0,,,,RP2-RP3
565,WAR180206TH01,54A,NP,1.0,128.7,15.0,Meriwether,GA,Loblolly Pine,Planted,2018.0,174.0,109.0,,85.0,59.0,,,,RP3

client_df is the data as given by the client during Harvest Activity Intake

I think the UniqueID will end up being a short value which will be a foreign key to a different table linking UniqueIDs to multiple tables. Unsure if I need that structure yet though because it will be unique on this table.

In [12]:
war_df.columns

Index(['row_id', 'parent_id', 'IntakeID', 'FolderID', 'UniqueID', 'TicketID',
       'Tract', 'CMP', 'Stand', 'Acres', 'Age', 'GA_ACRES', 'County', 'State',
       'Plot Numbers', 'Status', 'Guidance', 'Expiration', 'GuidanceProvider',
       'Scheduled', 'Stand Type', 'Origin', 'PreBA', 'PreTPA', 'PreGTA',
       'PlnBA', 'PlnTPA', 'PlnGTA', 'Client GT', 'GA GT',
       'Current RP Expected GT', 'Future GT', 'Total GT', 'Timeframe',
       'Reporting Period', 'Activity Implemented', 'Applied GA_ACRES', 'PstBA',
       'PstTPA', 'PstGTA', 'RP Completed', 'Notes', 'Completed Date',
       'Modified', 'Modified By'],
      dtype='object')

In [31]:
ga_intake_df = war_df[['IntakeID',
                       'FolderID',
                       'UniqueID',
                       'GA_ACRES',
                       'Guidance',
                       'Expiration',
                       'GuidanceProvider',
                       'GA GT', # this is going to be GA total isn't it?
                       'Total GT', # Does this need included? At the moment we do funny stuff with total gt and subtracting future gt
                       'Notes'
                       ]].copy()
ga_intake_df

,IntakeID,FolderID,UniqueID,GA_ACRES,Guidance,Expiration,GuidanceProvider,GA GT,Total GT,Notes
9,WAR241003,WAR241003,WAR241003TH01,30.06,,,GA,1052.07,1052.07,
10,WAR240924,WAR240924,WAR240924TH03,31.29,2024-10-02,,GA,782.16,782.25,
11,WAR240924,WAR240924,WAR240924TH02,148.67,2024-10-02,,GA,4460.18,4460.18,
12,WAR240924,WAR240924,WAR240924TH01,110.8,2024-10-02,,GA,3877.92,3878.35,
13,WAR240924,WAR240924,WAR240924BI02,11.08,2024-10-02,,GA,1218.59,1218.59,
...,...,...,...,...,...,...,...,...,...,...
561,WAR180518,WAR180518,WAR180518TH01,140.7,2018-05-18,,,,,
562,WAR180206,WAR180206,WAR180206TH04,,2018-02-06,,,,,is a duplicate of WAR190311
563,WAR180206,WAR180206,WAR180206TH03,,2018-02-06,,,,,is a duplicate of WAR190311
564,WAR180206,WAR180206,WAR180206TH02,116.0,2018-02-06,,,,,Pulled off due to tropical depression. Too wet.
565,WAR180206,WAR180206,WAR180206TH01,77.63,2018-02-06,,,,,Portion of this stand previously harvested in ...

In [30]:
status_df = war_df[['UniqueID', 'Status', 'Completed Date']].copy()
status_df

          UniqueID             Status Completed Date
9    WAR241003TH01            PENDING
10   WAR240924TH03               OPEN
11   WAR240924TH02               OPEN
12   WAR240924TH01               OPEN
13   WAR240924BI02               OPEN
..             ...                ...            ...
561  WAR180518TH01          COMPLETED
562  WAR180206TH04  DUPLICATE REQUEST
563  WAR180206TH03  DUPLICATE REQUEST
564  WAR180206TH02          COMPLETED
565  WAR180206TH01          COMPLETED     2023-03-01

[278 rows x 3 columns]

In [29]:
ticket_df = war_df[['UniqueID', 'TicketID']].copy()
ticket_df

          UniqueID       TicketID
9    WAR241003TH01  WAR241003TH01
10   WAR240924TH03  WAR240924TH03
11   WAR240924TH02  WAR240924TH02
12   WAR240924TH01  WAR240924TH01
13   WAR240924BI02  WAR240924BI02
..             ...            ...
561  WAR180518TH01  WAR180518TH01
562  WAR180206TH04  WAR180206TH04
563  WAR180206TH03  WAR180206TH03
564  WAR180206TH02  WAR180206TH02
565  WAR180206TH01  WAR180206TH01

[278 rows x 2 columns]

### I think this is a decent structure to get started

Next Steps:
cleaning data.

client_df:
 - RP needs to be an int
 - scheduled needs to be ...something... datetime?
 - age needs to be int
 - tract, comp, and stand should be str

In [60]:
client_df['Reporting Period'] = client_df['Reporting Period'].fillna(0)

In [66]:
client_df.loc[client_df['Reporting Period'] == "", 'Reporting Period'] = 0

In [85]:
s = client_df.loc[pd.to_numeric(client_df['Reporting Period'], errors='coerce').isnull() & client_df['Reporting Period'].str.contains("RP"), 'Reporting Period'].apply(lambda x: x.strip()[-1])

In [86]:
client_df['trial'] = client_df.index.map(s)

In [88]:
client_df.loc[pd.to_numeric(client_df['Reporting Period'], errors='coerce').isnull() & client_df['Reporting Period'].str.contains("RP"), 'Reporting Period'] = client_df.loc[pd.to_numeric(client_df['Reporting Period'], errors='coerce').isnull() & client_df['Reporting Period'].str.contains("RP"), 'trial']

In [92]:
client_df['Reporting Period'] = pd.to_numeric(client_df['Reporting Period'], downcast='integer')

In [93]:
client_df

,UniqueID,Tract,CMP,Stand,Acres,Age,County,State,Stand Type,Origin,...,PreBA,PreTPA,PreGTA,PlnBA,PlnTPA,PlnGTA,Client GT,Future GT,Reporting Period,trial
9,WAR241003TH01,Racepond,4,12,29.92,22.0,CHARLTON,GA,Slash Pine,Planted,...,160.0,550.0,80.0,70.0,300.0,45.0,1047.2,0.0,9,NaN
10,WAR240924TH03,13054,NP,23,31.29,44.0,Heard,GA,Loblolly Pine,Planted,...,100.0,165.0,110.0,60.0,75.0,85.0,782.0,0.0,9,NaN
11,WAR240924TH02,13053,NP,44,146.55,33.0,Heard,GA,Loblolly Pine,Planted,...,120.0,330.0,115.0,70.0,185.0,85.0,4397.0,0.0,9,NaN
12,WAR240924TH01,13053,NP,23,110.81,24.0,Heard,GA,Loblolly Pine,Planted,...,110.0,350.0,105.0,70.0,200.0,70.0,3878.0,0.0,9,NaN
13,WAR240924BI02,13054,NP,23,11.07,44.0,Heard,GA,Loblolly Pine,Planted,...,100.0,165.0,110.0,0.0,0.0,0.0,1218.0,0.0,9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,WAR180518TH01,4255.0,Elbert 11,1.0,150.92,NP,Crawford,GA,Loblolly Pine,Planted,...,160.0,388.0,,Not Stated,200.0,,,,3,3
562,WAR180206TH04,13193.0,NP,23.0,327.33,16.0,Troup,GA,Loblolly Pine,Planted,...,168.0,106.0,,85.0,55.0,,,,0,NaN
563,WAR180206TH03,13150.0,NP,13.0,148.54,16.0,Heard,GA,Loblolly Pine,Planted,...,168.0,106.0,,85.0,55.0,,,,0,NaN
564,WAR180206TH02,93A,NP,1.0,121.7,16.0,Troup,GA,Loblolly Pine,Planted,...,168.0,106.0,,85.0,55.0,,,,3,3
565,WAR180206TH01,54A,NP,1.0,128.7,15.0,Meriwether,GA,Loblolly Pine,Planted,...,174.0,109.0,,85.0,59.0,,,,3,3