In [2]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine, MetaData, text

client_intake = pd.read_excel('./data/war_trial_tables.xlsx', sheet_name='client_intake')
gis_intake = pd.read_excel('./data/war_trial_tables.xlsx', sheet_name='gis_intake')
rp_request = pd.read_excel('./data/war_trial_tables.xlsx', sheet_name='rp_request')
activity_status = pd.read_excel('./data/war_trial_tables.xlsx', sheet_name='activity_status')
ticket_id = pd.read_excel('./data/war_trial_tables.xlsx', sheet_name='ticket_id')
activity_plots = pd.read_excel('./data/war_trial_tables.xlsx', sheet_name='activity_plots')
project_rps = pd.read_excel('./data/war_trial_tables.xlsx', sheet_name='project_rps')
harvest_volume = pd.read_excel('./data/war_trial_tables.xlsx', sheet_name='harvest_volume')

In [8]:
trial_tables = pd.read_excel('./data/war_trial_tables.xlsx', sheet_name=None)

engine = create_engine('postgresql://postgres:root@localhost:5432/HarvestManagementTrial')

In [10]:
# Create postgres sql database from trial excel data
for sheet_name, df in trial_tables.items():
    df.to_sql(sheet_name, engine, index=False, if_exists='replace', method='multi', chunksize=500, schema='public')

In [10]:
# let's see if we can get the tables back as dataframes
db_params = {
    'host': 'localhost',
    'database': 'HarvestManagementTrial',
    'user': 'postgres',
    'password': 'root',
    'port': 5432
}

# Create a connection
connection = psycopg2.connect(**db_params)

In [11]:
cursor = connection.cursor()
cursor.execute("SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'")

In [12]:
tables = cursor.fetchall()

In [13]:
tables

[('project_rps',),
 ('harvest_volume',),
 ('client_intake',),
 ('gis_intake',),
 ('guidance',),
 ('rp_request',),
 ('ticket_id',),
 ('activity_plots',)]

In [14]:
dataframes = {}

for table in tables:
    table_name = table[0]
    query = f"SELECT * FROM {table_name}"
    df = pd.read_sql_query(query, connection)
    dataframes[table_name] = df

cursor.close()
connection.close()

C:\Users\bbrown\AppData\Local\Temp\ipykernel_16104\1802008594.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

In [15]:
dataframes

{'project_rps':     rp_oid  rp       borp       eorp project  required_full_verification  \
 0     None   1 2016-07-14 2017-06-23     WAR                        True
 1     None   2 2017-06-24 2018-06-23     WAR                       False
 2     None   3 2018-06-24 2019-06-23     WAR                       False
 3     None   4 2019-06-24 2020-06-23     WAR                       False
 4     None   5 2020-06-24 2021-06-23     WAR                       False
 ..     ...  ..        ...        ...     ...                         ...
 114   None   9        NaT        NaT     DLT                       False
 115   None  10        NaT        NaT     DLT                       False
 116   None  11        NaT        NaT     DLT                       False
 117   None  12        NaT        NaT     DLT                       False
 118   None  13        NaT        NaT     DLT                        True

      estimated_allotment
 0                18579.0
 1               225430.0
 2               234038.0
 3               330594.0
 4               247274.0
 ..                   ...
 114                  NaN
 115                  NaN
 116                  NaN
 117                  NaN
 118                  NaN

 [119 rows x 7 columns],
 'harvest_volume':        harvest_oid       Date    Ticket                   Mill Product  \
 0                0 2021-08-02    160048  Norbord Inc - Huguley     PPW
 1                1 2021-08-03    160157  Norbord Inc - Huguley     PPW
 2                2 2021-08-03    160120  Norbord Inc - Huguley     PPW
 3                3 2021-08-03    160155  Norbord Inc - Huguley     PPW
 4                4 2021-08-03    160082  Norbord Inc - Huguley     PPW
 ...            ...        ...       ...                    ...     ...
 27577        27577 2023-07-28  21501447        GPI Macon Chips     PPW
 27578        27578 2023-07-28  21501493        GPI Macon Chips     PPW
 27579        27579 2023-07-28  21501511        GPI Macon Chips     PPW
 27580        27580 2023-07-27     38422   Interfor - Thomaston     CNS
 27581        27581 2023-07-27     38434   Interfor - Thomaston     CNS

        Tons (U.S)  Cull Tons  Accepted Tons       TicketID    Week
 0           26.31        0.0          26.31  WAR201030TH04  Week01
 1           25.79        0.0          25.79  WAR201030TH04  Week01
 2           25.32        0.0          25.32  WAR201030TH04  Week01
 3           25.31        0.0          25.31  WAR201030TH04  Week01
 4           27.17        0.0          27.17  WAR201030TH04  Week01
 ...           ...        ...            ...            ...     ...
 27577       31.44        0.0          31.44  WAR220728XXXX  Week17
 27578       32.03        0.0          32.03  WAR220728XXXX  Week17
 27579       33.81        0.0          33.81  WAR220728XXXX  Week17
 27580       28.58        0.0          28.58  WAR220728XXXX  Week17
 27581       28.07        0.0          28.07  WAR220728XXXX  Week17

 [27582 rows x 10 columns],
 'client_intake':          unique_id state  county   tract       comp stand        client_acres  \
 0    WAR231124TH03    GA   Troup     94C  1011 0002     2  17.280000686645508
 1    WAR231124TH02    GA   Troup     94C  1011 0002     2  18.579999923706055
 2    WAR231124TH01    GA   Troup     94C  1011 0002     2  12.449999809265137
 3    WAR231124CC02    GA   Troup     94C  1011 0002     4  38.900001525878906
 4    WAR231124CC01    GA   Troup     94C  1011 0002     4   9.609999656677246
 ..             ...   ...     ...     ...        ...   ...                 ...
 168  WAR231107CC03    GA  Elbert  Elbert          1     2   37.02000045776367
 169  WAR231107CC02    GA  Elbert  Elbert          1     2   38.31999969482422
 170  WAR231107CC01    GA  Elbert  Elbert          1     2  36.560001373291016
 171  WAR230330TD01    GA    None   13187       None    13               30.82
 172  WAR230330TD02    GA    None   13187       None    14              108.83

      age     stand_type   origin  pre_ba  pre_tpa  pre_gta  pln_ba  pln_tpa  \
 0     42  Loblolly Pine  Planted   215.0    289.0    105.0    70.0    176.0
 1     42  Loblolly Pine  Planted   215.0    289.0    105.0    70.0    176.0
 2     42  Loblolly Pine  Planted   215.0    289.0    105.0    70.0    176.0
 3     42  Loblolly Pine  Planted   215.0    289.0    105.0     0.0      0.0
 4     42  Loblolly Pine  Planted   215.0    289.0    105.0     0.0      0.0
 ..   ...            ...      ...     ...      ...      ...     ...      ...
 168   46  Loblolly Pine  Planted   140.0    160.0    115.0     0.0      0.0
 169   46  Loblolly Pine  Planted   140.0    160.0    115.0     0.0      0.0
 170   46  Loblolly Pine  Planted   140.0    160.0    115.0     0.0      0.0
 171   18  Loblolly Pine  Planted     0.0    208.0     90.0     0.0      0.0
 172   41  Loblolly Pine  Planted     0.0    208.0    115.0     0.0      0.0

      pln_gta  client_gt_current  client_gt_future  ticket_id      status
 0       61.0         760.448792               0.0          0        OPEN
 1       61.0         817.658508               0.0          0        OPEN
 2       61.0         547.892822               0.0          0        OPEN
 3        0.0        4084.861084               0.0          0        OPEN
 4        0.0        1009.138977               0.0          0        OPEN
 ..       ...                ...               ...        ...         ...
 168      0.0        4257.299805               0.0          0        OPEN
 169      0.0        4406.799805               0.0          0        OPEN
 170      0.0        4204.399902               0.0          0        OPEN
 171      0.0        2770.000000               NaN         21  IN PROCESS
 172      0.0       12500.000000               NaN         22  IN PROCESS

 [173 rows x 20 columns],
 'gis_intake':      gisintake_oid       uniqueid  ga_acres  ga_total_gt
 0                0  WAR231124TH03     17.28       760.44
 1                1  WAR231124TH02     18.58       817.64
 2                2  WAR231124TH01     12.45       547.90
 3                3  WAR231124CC02     38.90      4084.40
 4                4  WAR231124CC01      9.61      1008.74
 ..             ...            ...       ...          ...
 168            168  WAR231107CC03     37.11      4268.20
 169            169  WAR231107CC02     38.41      4417.26
 170            170  WAR231107CC01     36.68      4217.75
 171            171  WAR230330TD01     35.04      2770.00
 172            172  WAR230330TD02    108.91     12500.00

 [173 rows x 4 columns],
 'guidance':     guidance_oid      unique_id guidance_provider guidance_date  \
 0           None  WAR231124TH03              None          None
 1           None  WAR231124TH02              None          None
 2           None  WAR231124TH01              None          None
 3           None  WAR231124CC02              None          None
 4           None  WAR231124CC01              None          None
 ..           ...            ...               ...           ...
 168         None  WAR231107CC03              None          None
 169         None  WAR231107CC02              None          None
 170         None  WAR231107CC01              None          None
 171         None  WAR230330TD01              None          None
 172         None  WAR230330TD02              None          None

     guidance_expiration
 0                  None
 1                  None
 2                  None
 3                  None
 4                  None
 ..                  ...
 168                None
 169                None
 170                None
 171                None
 172                None

 [173 rows x 5 columns],
 'rp_request':      rprequest_oid      unique_id  reporting_period  expected_gt
 0                0  WAR231124TH03               8.0  6226.510000
 1                1  WAR231124TH02               8.0  1254.500000
 2                2  WAR231124TH01               8.0  1016.000000
 3                3  WAR231124CC02               8.0   719.180000
 4                4  WAR231124CC01               8.0   360.130000
 ..             ...            ...               ...          ...
 194            194  WAR231004TN01               9.0   569.000000
 195            195  WAR231004CC03               9.0   458.269989
 196            196  WAR231004CC02               9.0   221.850000
 197            197  WAR231004CC01               9.0  1098.880000
 198            198  WAR220809CC04               9.0   578.000000

 [199 rows x 4 columns],
 'ticket_id':     ticket_oid      ticket_id
 0            0           None
 1            1  WAR180518XXXX
 2            2  WAR180518XXXX
 3            3  WAR190905TTXX
 4            4  WAR190905TTXX
 5            5  WAR200103THXX
 6            6  WAR200103THXX
 7            7  WAR200103THXX
 8            8  WAR201030XXXX
 9            9  WAR201030XXXX
 10          10  WAR210218XXXX
 11          11  WAR210218XXXX
 12          12  WAR220728XXXX
 13          13  WAR220728XXXX
 14          14  WAR230203TTXX
 15          15  WAR230203TTXX
 16          16  WAR230908XXXX
 17          17  WAR230908XXXX
 18          18  WAR230908XXXX
 19          19  WAR231020THXX
 20          20  WAR231020THXX
 21          21  WAR230330TDXX
 22          22  WAR230330TDXX,
 'activity_plots':     applied_plots_oid  plot_id      unique_id  reporting_period  requested  \
 0                   0      217  WAR210218TH02                 5       True
 1                   1       49  WAR180518TH03                 3       True
 2                   2       48  WAR180518TH03                 3       True
 3                   3      428  WAR200611TH02                 5       True
 4                   4      411  WAR180518TH01                 3       True
 5                   5      312  WAR200611TT02                 6       True
 6                   6      538  WAR200110TT01                 5       True
 7                   7      539  WAR181203TH03                 4       True
 8                   8      223  WAR200103TH05                 4       True
 9                   9      524  WAR191214TT01                 5       True
 10                 10       50  WAR181203CC02                 4       True
 11                 11       54  WAR181203CC02                 4       True
 12                 12      515  WAR181203CC01                 4       True
 13                 13       24  WAR201030TH04                 6       True
 14                 14      426  WAR220809CC02                 7       True
 15                 15       59  WAR220809CC06                 7       True
 16                 16      522  WAR200103TH01                 5       True
 17                 17      578  WAR201030TT01                 6       True
 18                 18      557  WAR201030TT01                 6       True
 19                 19      547  WAR201030TT01                 6       True
 20                 20      519  WAR201030TT01                 5       True
 21                 21      563  WAR191214CC01                 5       True
 22                 22      536  WAR191214CC01                 4       True
 23                 23      517  WAR201030TT01                 5       True
 24                 24      511  WAR201030TT01                 6       True
 25                 25      530  WAR201030TT02                 6       True
 26                 26      555  WAR201030TT02                 5       True
 27                 27      573  WAR210128CC01                 6       True
 28                 28       51  WAR210128CC01                 5       True
 29                 29      562  WAR211101CC01                 6       True
 30                 30      544  WAR220728CC03                 7       True
 31                 31       26  WAR191213TH02                 4       True
 32                 32      579  WAR231107TH05                 8       True
 33                 33      559  WAR230303TH01                 8       True
 34                 34      217  WAR230908TH04                 8       True
 35                 35      546  WAR230908TH04                 8       True
 36                 36       28  WAR230908TH04                 8       True
 37                 37      220  WAR220728TH02                 8       True
 38                 38      220  WAR221121TH01                 8       True
 39                 39      571  WAR230711TH01                 8       True
 40                 40      556  WAR230711TH01                 8       True
 41                 41      542  WAR230711TH01                 8       True
 42                 42      581  WAR230330TD02                 8       True
 43                 43       44  WAR220729TH01                 8       True
 44                 44       23  WAR230908TH01                 8       True
 45                 45       37  WAR230203TH02                 8       True
 46                 46      543  WAR230811CC05                 8       True
 47                 47      544  WAR220728CC03                 8       True
 48                 48      529  WAR230712TH02                 8       True
 49                 49      570  WAR230712TH01                 8       True
 50                 50      566  WAR231107TH01                 8       True
 51                 51      567  WAR231107TH01                 8       True
 52                 52      532  WAR231107CC08                 8      False

     applied
 0      True
 1     False
 2      True
 3      True
 4      True
 5      True
 6      True
 7      True
 8      True
 9      True
 10     True
 11    False
 12     True
 13     True
 14     True
 15     True
 16     True
 17    False
 18     True
 19     True
 20     True
 21     True
 22     True
 23     True
 24    False
 25     True
 26     True
 27     True
 28     True
 29     True
 30     True
 31     True
 32    False
 33     True
 34     True
 35     True
 36     True
 37     True
 38     True
 39     True
 40     True
 41     True
 42     True
 43     True
 44     True
 45     True
 46     True
 47     True
 48     True
 49     True
 50     True
 51     True
 52     True  }

In [21]:
for k in dataframes.keys():
    print(k)

project_rps
harvest_volume
client_intake
gis_intake
guidance
rp_request
ticket_id
activity_plots

In [22]:
df1 = dataframes['client_intake']

In [23]:
df1

,unique_id,state,county,tract,comp,stand,client_acres,age,stand_type,origin,pre_ba,pre_tpa,pre_gta,pln_ba,pln_tpa,pln_gta,client_gt_current,client_gt_future,ticket_id,status
0,WAR231124TH03,GA,Troup,94C,1011 0002,2,17.280000686645508,42,Loblolly Pine,Planted,215.0,289.0,105.0,70.0,176.0,61.0,760.448792,0.0,0,OPEN
1,WAR231124TH02,GA,Troup,94C,1011 0002,2,18.579999923706055,42,Loblolly Pine,Planted,215.0,289.0,105.0,70.0,176.0,61.0,817.658508,0.0,0,OPEN
2,WAR231124TH01,GA,Troup,94C,1011 0002,2,12.449999809265137,42,Loblolly Pine,Planted,215.0,289.0,105.0,70.0,176.0,61.0,547.892822,0.0,0,OPEN
3,WAR231124CC02,GA,Troup,94C,1011 0002,4,38.900001525878906,42,Loblolly Pine,Planted,215.0,289.0,105.0,0.0,0.0,0.0,4084.861084,0.0,0,OPEN
4,WAR231124CC01,GA,Troup,94C,1011 0002,4,9.609999656677246,42,Loblolly Pine,Planted,215.0,289.0,105.0,0.0,0.0,0.0,1009.138977,0.0,0,OPEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,WAR231107CC03,GA,Elbert,Elbert,1,2,37.02000045776367,46,Loblolly Pine,Planted,140.0,160.0,115.0,0.0,0.0,0.0,4257.299805,0.0,0,OPEN
169,WAR231107CC02,GA,Elbert,Elbert,1,2,38.31999969482422,46,Loblolly Pine,Planted,140.0,160.0,115.0,0.0,0.0,0.0,4406.799805,0.0,0,OPEN
170,WAR231107CC01,GA,Elbert,Elbert,1,2,36.560001373291016,46,Loblolly Pine,Planted,140.0,160.0,115.0,0.0,0.0,0.0,4204.399902,0.0,0,OPEN
171,WAR230330TD01,GA,None,13187,None,13,30.82,18,Loblolly Pine,Planted,0.0,208.0,90.0,0.0,0.0,0.0,2770.000000,NaN,21,IN PROCESS
172,WAR230330TD02,GA,None,13187,None,14,108.83,41,Loblolly Pine,Planted,0.0,208.0,115.0,0.0,0.0,0.0,12500.000000,NaN,22,IN PROCESS